*{
    margin: 0;
    padding: 0%;


}

.viewport{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid blue;
    background: #ffffff;
}
.viewport .snake{
    width: 100%;
    height: 100%;
    overflow: hidden;

}



.viewport .snake div{
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    background: #000;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    list-style: none;
    vertical-align: middle;
    margin-top: 1px;
    border-radius: 1px;

    
}
.viewport .snake .head{
    /* margin-top: 0; */
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.viewport .pause{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 247, 206, 0.26);
   display: none;
    z-index: 100;
    
}

.viewport .start {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 247, 205);
    z-index: 100;
    display: block;
}


.viewport .start button,
          .pause button{
    position: absolute;
    width: 150px;
    height: 80px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    outline: none;
    background: rgba(116, 186, 233, 0.685);
    border:none;
  
  
}
.viewport .start button:hover,
          .pause button:hover{
              background:rgba(147, 191, 221, 0.685);
          }

.viewport .rethink{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 78, 224, 0.219);
   display: none;
    z-index: 100;

}
.viewport .rethink button{
    position: absolute;
    width: 150px;
    height: 80px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    outline: none;

}

.viewport p{
    position: absolute;
    height:16px;
    left: 0;
    top: -16px;
    font-size: 12px;
    line-height: 16px;

}